@font-face {
    font-family: 'SLEMAN';
    src: url('SLEMAN-DEMO.woff2') format('woff2'),
        url('SLEMAN-DEMO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

